@font-face {
    font-family: 'rubik';
    src: url('/RUBIKMONOONE-REGULAR.TTF') format('truetype');
}

h1 {
    font-size: 25px;
    color : #3e2723;
    text-align: center;
    font-family: 'rubik';
}

h2 {
    font-size: 20px;
    color : #3e2723 ;
    text-align: center;
    font-family: 'rubik';
    
}

p {
    font-size: 16px;
    font-style: bold;
    color : #3e2723;
    text-align: center;
    font-family: 'rubik';
}

section {
    background-color: #ffedac;
    padding: 20px;
}

body {
    background-color: #3e2723;
}