<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<h2>Add event</h2>

<form method="POST">

    Name:
    <input name="name">

    Date:
    <input type="date" name="date">

    Time:
    <input type="time" name="time">

    Priority:
    <select name="priority">
        <option>Low</option>
        <option>Medium</option>
        <option>High</option>
    </select>

    <button name="add">
        Add
    </button>

</form>


<hr>


<h2>Events</h2>


{% for e in events %}

    <div>

        {{ e }}

        <form method="POST" style="display:inline">

            <button name="delete"
                    value="{{ loop.index0 }}">
                ❌
            </button>

        </form>

    </div>

{% endfor %}


</body>
</html>