{% extends "base.html" %}

{% block content %}
<h1>Planner</h1>

<form method="POST" action="/add_task">
    <input type="text" name="task" placeholder="Title">
    <input type="text" name="description" placeholder="Description">
    <button type="submit">Add</button>
</form>

<ul>
    {% for task in tasks %}
        <li>
            <b>{{ task[1] }}</b> <br>
            {{ task[2] }} <br>
            {{ task[3] }} <br>
            <a href="/delete/{{ task[0] }}">Delete</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}